Dave Parker <davep@ssec.wisc.edu> davep-ssec <davep@ssec.wisc.edu>
Tommy Jasmin <tommy.jasmin@ssec.wisc.edu> Tommy Jasmin <tommyj@ssec.wisc.edu>
Mike Hiley <mike.hiley@ssec.wisc.edu> mhiley <hiley@wisc.edu>
Mike Hiley <mike.hiley@ssec.wisc.edu> mhiley <mike.hiley@ssec.wisc.edu>
Mike Hiley <mike.hiley@ssec.wisc.edu> Michael Hiley <mike.hiley@ssec.wisc.edu>
Mike Hiley <mike.hiley@ssec.wisc.edu> Mike Hiley <mhiley@ssec.wisc.edu>
Tom Rink <rink@ssec.wisc.edu> Tom Rink <rink@subzero.ssec.wisc.edu>
Tom Rink <rink@ssec.wisc.edu> tomrink <rink@ssec.wisc.edu>
Tom Rink <rink@ssec.wisc.edu> Tom Rink <rink@subzero-2.local>
Tom Whittaker <whittaker@wisc.edu> tomw2 <whittaker@wisc.edu>
Jonathan Beavers <jbeavers@ssec.wisc.edu> Jon <jonathan.beavers@gmail.com> 
Jonathan Beavers <jbeavers@ssec.wisc.edu> Jonathan Beavers <jonathan.beavers@gmail.com> 
Jonathan Beavers <jbeavers@ssec.wisc.edu> Jon <jbeavers@ssec.wisc.edu>
Jonathan Beavers <jbeavers@ssec.wisc.edu> Jonathan Beavers <jbeavers@dyn-201-67.vpn.wisc.edu>