<!-- 
  the "configuration" element accepts three optional parameters:

  debug: generates some SLF4J debug; acceptable values are "true" or "false".
         defaults to "false".

  scan and scanPeriod: please see the Logback documentation:
  http://logback.qos.ch/manual/configuration.html#autoScan
 -->
<configuration debug="true">

  <!-- sets up a rotating mcidasv.log. every time mcidasv.log reaches 1MB, this
       will move mcidasv.log to mcidasv.1.log.zip and create a new mcidasv.log.
       the appender is configured to keep around (at most):
       
       mcidasv.log (active log file)
       mcidasv.1.log.zip 
       mcidasv.2.log.zip
       mcidasv.3.log.zip
       
       anything after mcidasv.3.log.zip is discarded. -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${mcv.userpath}/mcidasv.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${mcv.userpath}/mcidasv.%i.log.zip</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>1MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %method: %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="JYTHON" class="ch.qos.logback.core.FileAppender">
    <file>${mcv.userpath}/jython.log</file>
    <encoder>
      <pattern># %d{HH:mm:ss.SSS} [%thread] %level:%n%msg%n</pattern>
    </encoder>
  </appender>

  <!-- you can override the root level for specific packages -->
  <!-- <logger name="edu.wisc.ssec.mcidasv" level="TRACE"/> -->

  <!-- use the logging level specified by the "loglevel" Java system property.
       if the "loglevel" property was not set, logging will only listen for 
       things at "INFO" level within mcv (by default)
       
       valid levels are: TRACE, DEBUG, INFO, WARN, ERROR, OFF
       be sure to skim over http://logback.qos.ch/manual/architecture.html#basic_selection -->
  <root level="${loglevel:-INFO}">
    <appender-ref ref="FILE" />
  </root>

  <!-- Disable some initial status messages from the stdout/stderr redirect library -->
  <logger name="uk.org.lidalia.sysoutslf4j" level="OFF" />
  
  <!-- Let's use this section of the file to group loggers that spew *way* too much output. -->
  <logger name="httpclient.wire.content" level="OFF" />
  <logger name="org.apache.commons.httpclient" level="OFF" />
  <logger name="org.bushe.swing.event" level="OFF" />
  <logger name="ucar.grib" level="OFF" />
  <logger name="org.python" level="OFF" />
  <logger name="httpclient" level="OFF" />
  <!-- End of verbose logger section -->
</configuration>
