<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
  </appender>

  <!-- disable logging within mcv (by default) -->
  <logger name="edu.wisc.ssec.mcidasv" level="OFF"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>