<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %method: %msg%n</pattern>
    </layout>
  </appender>

  <!-- you can override the root level for specific packages -->
  <!-- <logger name="edu.wisc.ssec.mcidasv" level="TRACE"/> -->

  <!-- logging is disabled within mcv (by default)
       valid levels are: TRACE, DEBUG, INFO, WARN, ERROR, OFF
       be sure to skim over http://logback.qos.ch/manual/architecture.html#basic_selection -->
  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>