body {
  background-color: #FFFFFF;
}       

.xmlcomment {
  background-color: lightgray;
}
.xmlcdata {
  background-color: #6495ed;
}
.xmlattr {
  font-weight: bold;
}

.cimg {
  text-align:center;
  margin-top: 20px;
  margin-bottom: 40px;
}

A:link {
  color: blue;
  text-decoration: underline;
}
A:visited {
  color:red;
  text-decoration: underline;
}
A:active {
  color:purple;
  text-decoration:underline;
}
A.faq-category-link {
  text-decoration: none;
  color: #000000;
}
A.faq-category-link:hover {
  text-decoration: underline;
}
A.faq-question-link {
  text-decoration: none;
  color: black;
}
A.faq-question-link:hover {
  text-decoration: underline;
}

.faq-category-title {
  margin-top:10px;
  color: #000000;
  font-size: 16pt;
  font-weight: bold;
}
.faq-bottom {
  margin-top:20px;
}
.faq-bottom .faq-question {
  font-weight:bold;
  margin-top:5px;
}
.faq-category {
  margin-left:20px;
}

/*Since applying styles to span tags does not seem to work we use <code class="command">*/

code.command {
  font-weight: bold;
}
code.menu {
  font-weight: bold;
}

.pagetitle {
  font-size: 18pt;
  font-weight: bold;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pagesubtitle {
  font-size: 14pt;
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pagesubsubtitle {
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.preferencegroup {
  margin-left: 20px;
}
.preferencegrouptitle {
  border-bottom: solid thin;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
}
p.code {
  font-family: Monospaced;
  margin-left: 22px;
}

.childlist {
  margin: 10px;
  margin-left: 30px;
}
.childlist-level {
  font-weight:bold;
  font-size: 14pt;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 5px;
}

p.indent1 {
  margin-left: 3px;
}
p.indent2 {
  margin-left: 12px;
}
p.indent3 {
  margin-left: 32px;
}
p.note {
  margin-top: -19px;
  margin-left: 22px;
}
p.table {
  margin-top: 0px;
  margin-bottom: 0px;
}

blockquote.menu {
  margin-left: 18px;
  margin-top: 10px;
}

center {
  margin-top: 10px;
}

table {
  border: none;
  border-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

td {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
} 

th {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

small {
  font-size: x-small;
}

dl.see_also {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a.nounderline {
  text-decoration: none;
}

pre {
  font-family: Monospaced, "Courier New", Courier, mono;
}

code {
  font-family: Monospaced, "Courier New", Courier, mono;
}

.menudesc {
  margin: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.small {
  font-size: small;
}

.toggle {
  cursor: pointer;
  font-family: Monospaced, "Courier New", Courier, mono;
  font-weight: bold;
  position: relative;
  margin-left: -12px;
}

.pointer {
  cursor: pointer;
}

div.indented {
  padding-bottom: 6px;
  display: none;
  padding-left: 12px;
}

td.selected {
  border: 0px;
  background-color: #ABC;
  text-align: center;
}
td.unselected {
  border: 0px;
  background-color: #DEF;
  text-align: center;
}
